adfdemo1/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"contentMD5",
						"itemName",
						"itemType",
						"lastModified",
						"size",
						"structure",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_log]",
					"storedProcedureParameters": {
						"columnCount": {
							"value": {
								"value": "@activity('Get Metadata1').output.columnCount",
								"type": "Expression"
							},
							"type": "String"
						},
						"duration": {
							"value": {
								"value": "@activity('Get Metadata1').output.duration",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"itemName": {
							"value": {
								"value": "@activity('Get Metadata1').output.itemName",
								"type": "Expression"
							},
							"type": "String"
						},
						"itemType": {
							"value": {
								"value": "@activity('Get Metadata1').output.itemType",
								"type": "Expression"
							},
							"type": "String"
						},
						"lastModified": {
							"value": {
								"value": "@activity('Get Metadata1').output.lastModified",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"size": {
							"value": {
								"value": "@activity('Get Metadata1').output.size",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "linkedService1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}